name: main

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

concurrency:
  group: ci-main
  cancel-in-progress: true

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.4
          args: --config=.golangci.yaml

  sast:
    name: semgrep/ci
    runs-on: ubuntu-latest
    container:
      image: returntocorp/semgrep
    # Skip any PR created by dependabot to avoid permission issues:
    if: (github.actor != 'dependabot[bot]')
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - run: semgrep ci
        env:
          SEMGREP_RULES: p/gosec

  tests:
    name: tests
    runs-on: ubuntu-latest
    environment: development
    needs: [linter, sast]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - name: Build
        run: CGO_ENABLED=0 go build -o ./out/app ./cmd/main.go
      - name: Unit Test
        run: go test -v ./... --race
